@import '../resources/base.scss';
.all-transactions{
    width: 1000px
}
.title{
    font-weight: bold;
    font-size: 20px;
    justify-content: flex-start;
}

.options{
    display: flex;
    justify-content: space-between;
    height: 40px;
    ul{
        list-style: none;
        display: inline-flex;
        justify-content: space-around;
        padding-inline-start: 0;
        li{
            font-size: 20px;
            font-weight: 600;
            color: rgba(14, 14, 17, 0.5);
            margin-right: 20px;
            cursor: pointer;
        }
          
        .selected{
            color: #FF761C;
        }
    }
    .new-transaction{
        margin-top: 0px;
        padding: 10px 16px;
        cursor: pointer;
    }
}
  
.transaction-card-list{
    margin-top: 30px;
    width: 1000px;
}
.transaction-card{
    background: linear-gradient(190.57deg, rgba(255, 255, 255, 0.56) 19.25%, rgba(248, 248, 255, 0.71) 54.39%, rgba(255, 255, 255, 0.59) 90.02%);
    box-shadow: -10px 48.5967px 140px rgba(126, 123, 160, 0.2);
    backdrop-filter: blur(19px);
    border-radius: 34px;
    padding: 30px;
    display: flex;
    margin-bottom: 20px;
}

.transaction-summary{
    font-size: 16px;
    padding-right: 100px;
    max-width: 33%;
    overflow: hidden;
    .summary-label{
        font-weight: 600;
        margin-right: 5px;
    }
}

.transaction-status{
    padding-left: 87px;
    .status-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        color: #FF761C;
        background: url('../resources/pending.svg') no-repeat left center;
        padding-left: 26px;
        &.failed{
            color: #FD0053;
            background-image: url('../resources/failed.svg');
        }
        &.success{
            color: #00B272;
            background-image: url('../resources/success.svg');
        }
    }

    .approve-btn{
        background: #ebebeb;
        border: 3px solid #FFFFFF;
        border-radius: 20px;
        color: #00B272;
        padding: 5px 10px;
        cursor: pointer;
    }

    .reject-btn{
        background: #ebebeb;
        border: 3px solid #FFFFFF;
        border-radius: 20px;
        color: #FD0053;
        padding: 5px 10px;
        cursor: pointer;
    }
}


.progress-bar{
    display: inline-flex;
    color: #00B272;
    font-weight: 600;
    .connect-line{
        height: 1px;
        width: 60px;
        border-bottom: 1px solid;
        margin: 0 6px;
        &.waiting{
            border-bottom: 1px dotted #B7B7B8;
        }
    }

    .connect-line-failed{
        height: 1px;
        width: 60px;
        color: #FD0053;
        border-bottom: 1px solid;
        margin: 0 6px;
        &.waiting{
            border-bottom: 1px dotted #B7B7B8;
        }
    }

    .progress-created, .progress-confirmed, .progress-executed{
        display: inline-flex;
        align-items: center;
        &.inactive{
            color: rgba(14, 14, 17, 0.3)
        }
    }
      
    .circle-sign{
        width: 12px;
        height: 12px;
        line-height: 12px;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        background: #00B272;
        margin-right: 6px;
        &.empty{
            border: 1px solid #B7B7B8;
            background: white;
        }
    }

    .circle-sign-failed{
        width: 12px;
        height: 12px;
        line-height: 12px;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        background: #FD0053;
        margin-right: 6px;
        &.empty{
            border: 1px solid #B7B7B8;
            background: white;
        }
    }

    .completed-failed{
        color: #FD0053;
    }
}
  
.users-list{
    margin-left: 150px;
    width: 1px;
    position: relative;
    &:before{
        content : "";
        position: absolute;
        left    : 0;
        top  : 0;
        height  : calc(100% - 15px);
        width   : 100%;
        border-left:1px solid #00B272;
    }
  
    .user-info{
        padding-left: 6px;
        padding-top: 12px;
        display: flex;
        position: relative;
        &:before{
            content : "";
            position: absolute;
            left    : 0;
            top  : calc(50% + 6px);
            height  : 50%;
            width   : 6px;
            border-top:1px solid #00B272;
        }
          
        p{
            margin-block: 0;
            line-height: 15px;
            height: 15px;
        }

        .user-profile{
            font-size: 12px;
            margin-left: 8px;
            p{
                display: flex
            }
        }
    }
    img{
        width: 30px;
        height: 30px;
    }

}

.user-image {
    width: 30px;
    height: 30px;
}

.users-list-created{
    margin-left: 3px;
    width: 1px;
    position: relative;
    &:before{
        content : "";
        position: absolute;
        left    : 0;
        top  : 40;
        height  : 29px;
        width   : 50%;
        border-left:1px solid #00B272;
    }
  
    .user-info{
        padding-left: 6px;
        padding-top: 12px;
        display: flex;
        position: relative;
        &:before{
            content : "";
            position: absolute;
            left    : 0;
            top  : calc(50% + 6px);
            height  : 50%;
            width   : 6px;
            border-top:1px solid #00B272;
        }
          
        p{
            margin-block: 0;
            line-height: 15px;
            height: 15px;
        }

        .user-profile{
            font-size: 12px;
            margin-left: 8px;
            p{
                display: flex
            }
        }
    }
    img{
        width: 30px;
        height: 30px;
    }

}


.users-list-rejected{
    margin-left: 170px;
    width: 1px;
    position: relative;
    &:before{
        content : "";
        position: absolute;
        left    : 0;
        top  : 40;
        height  : calc(100% - 15px);
        width   : 100%;
        border-left:1px solid #00B272;
    }

    .user-info{
        padding-left: 6px;
        padding-top: 12px;
        display: flex;
        position: relative;
        &:before{
            content : "";
            position: absolute;
            left    : 0;
            top  : calc(50% + 6px);
            height  : 50%;
            width   : 6px;
            border-top:1px solid #00B272;
        }
          
        p{
            margin-block: 0;
            line-height: 15px;
            height: 15px;
        }

        .user-profile{
            font-size: 12px;
            margin-left: 8px;
            p{
                display: flex
            }
        }
    }
    img{
        width: 30px;
        height: 30px;
    }

}

.flex-submit-div {
    display: flex; 
    flex-wrap: wrap;
}

.module-input {
    width: 50%;
    height: 40px;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid rgba(14, 14, 17, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    color: rgba(14, 14, 17, 0.3);
    margin-bottom: 0px;
}

.font-image {
    vertical-align: middle;
}

.right-transaction-card {
    display: flex;
    flex-wrap: wrap;
}

.right-100-width {
    width: 100%;
}

.right-50-width {
    width: 50%;
}

.right-33-width {
    width: 33%;
}